@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #08080a;
    --card: #ffffff;
    --card-foreground: #08080a;
    --popover: #ffffff;
    --popover-foreground: #08080a;
    --primary: #ff698b;
    --primary-foreground: #fef1f2;
    --secondary: #f4f4f5;
    --secondary-foreground: #17171b;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --accent: #f4f4f5;
    --accent-foreground: #17171b;
    --destructive: #ff2626;
    --destructive-foreground: #f9f9f9;
    --border: #e3e3e7;
    --input: #e3e3e7;
    --ring: #a80941;
    --radius: 1rem;
  }

  .dark {
    --background: #0b0908;
    --foreground: #f2f2f2;
    --card: #1b1917;
    --card-foreground: #f2f2f2;
    --popover: #161616;
    --popover-foreground: #f2f2f2;
    --primary: #ff698b;
    --primary-foreground: #042e16;
    --secondary: #27272a;
    --secondary-foreground: #f9f9f9;
    --muted: #262626;
    --muted-foreground: #a1a1a9;
    --accent: #292524;
    --accent-foreground: #f9f9f9;
    --destructive: #ff2626;
    --destructive-foreground: #fef2f2;
    --border: #27272a;
    --input: #27272a;
    --ring: #a80941;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
